.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.table-curved {
  border-collapse: separate;
  border: solid #ccc 1px;
  border-radius: 6px;
  border-left: 0px;
  border-top: 0px;
}
.table-curved > thead:first-child > tr:first-child > th {
   border-bottom: 0px;
   border-top: solid #ccc 1px;
}
.table-curved td, .table-curved th {
   border-left: 1px solid #ccc;
   border-top: 1px solid #ccc;
}
.table-curved > :first-child > :first-child > :first-child {
   border-radius: 6px 0 0 0;
}
.table-curved > :first-child > :first-child > :last-child {
   border-radius: 0 6px 0 0;
}
.table-curved > :last-child > :last-child > :first-child {
   border-radius: 0 0 0 6px;
}
.table-curved > :last-child > :last-child > :last-child {
   border-radius: 0 0 6px 0;
}