.h1_timer{
  font-size: 1.55vw;
  justify-content: center;
  align-items: center;
  border-left:1em solid transparent;
  border-right:1em solid transparent;
  white-space: nowrap;
  border-bottom:1em solid transparent;
}
.timer{
    width:100%;
    height:100vh;
    background-color: rgb(1, 3, 92);
    display:flex;
    flex-direction: column;
}

.container_timer{
    padding-top:5px;
    display:flex;
    align-items: flex-start;
   
}

.timer_container{
    background-color: #ff8c00;
    color: rgb(1, 3, 92);
    text-shadow: red 2px 2px;
    width:40vw;
    height:13vh;
    padding: 0rem 0rem;
    border-radius: 1rem;
    box-shadow: 0 1rem 1rem -0.7rem rgb(0,0,0,0.4);
    text-align: center;
    margin-left: 8vw;
    margin-right: auto;
    display: flex;   
}

.stop,.restart{
    margin-top: 3px;
    margin-bottom: 3px;
    color: orange;
    text-shadow: red 2px 2px;
    font-size: 1.5vw;   
    background-color: rgb(1, 3, 92);
    width: 15.5vh;
    height: 12vh;
    border: none;
    border-radius: 15px;
    cursor:pointer;
}

.stop{
   
    margin-right: 0.2rem;
    margin-left: 2rem;
}
.restart{
    margin-left:0.2em;
    margin-right:3em;
}

.button_style {
    text-decoration: none;
    display:flex;
    padding: 8px 16px;
    margin-left:5rem;
  }
  
button.button_style:hover {
    background-color: #ddd;
    color: black;
  }
  
  .previous {
    background-color: #e0cefd;
    color: black;
  }
  
  .next {
    background-color: #e0cefd;
    color: black;
  }
  
  .round {
    border-radius: 10%;
  }

.scoreStyle{
  
  width:85%;
  height: 50%;
  align-self: center;
}